{% ckan_extends %}

{% block package_basic_fields_license %}
<div class="form-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
        <div class="row">
        <div class="col-md-6">
            <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% set empty_license = _('Please select the license') %}
            <option value="">{{ empty_license }}</option>
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
            <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
            </select>
            {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        </div>
        <div class="col-md-6">
            <span class="info-block info-inline">
            <i class="fa fa-info-circle"></i>
            {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/" target="_blank">opendefinition.org</a>
            {% endtrans %}
            </span>
        </div>
        </div>
    </div>
</div>
{% endblock %}
