{% ckan_extends %}

{% block meta %}
    {{ super() }}
    <meta property="og:image" content="/social-image.png">
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/datasets.css" />
<link rel="stylesheet" href="/footer.css" />
<link rel="stylesheet" href="/header.css" />
<link rel="stylesheet" href="/generic.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/b1166bc796.js" crossorigin="anonymous"></script>
{% endblock %}